.container {
  width: fit-content;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.palette {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px;
  border: 1px solid #dfdfdf;
}
button {
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #dfdfdf;
  color: #54585e;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}
button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button:active {
  transform: translateY(1px);
}